/*
 * https://coolors.co/e8e8e8-bfbfbf-96939b-564256-fc814a
 */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #564256;
    background-color: #fff;
}

a {
    color: #f06449;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
    max-width: 600px;
}

.big {
    font-size: 36px;
    color: #564256;
}

.still-big-but-a-little-smaller {
    font-size: 24px;
    color: #96939b;
    padding-bottom: 20px;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 20px;
}

.section:not(:last-child) {
    margin-bottom: 20px;
}

.section-title {
    font-size: 24px;
    color: #564256;
}

.section-body {
    color: #96939b;
}
