/*
 * https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-cc0425
 */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background: rgba(0, 0, 0, 0.075);
}

body {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #2b2d42;
    font-weight: 400;
}

a {
    color: #ef233c;
    text-decoration: none;
}

a:hover {
    color: #cc0425;
    transition: color 150ms ease-in-out;
}

.icon {
    fill: #ef233c;
}

.icon:hover {
    fill: #cc0425;
    transition: fill 150ms ease-in-out;
}

.container {
    padding: 80px;
    max-width: 1080px;
}

.heading {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
}

.icons {
    margin-bottom: 20px;
}

.icon-list {
    list-style: none;
}

.icon-list-item {
    display: inline;
    position: relative;
}

.icon-list-item:not(:last-child) {
    margin-right: 45px;
}

.icon-list-item:not(:last-child)::after {
    content: "/";
    color: rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 45px;
    bottom: 4px;
}

.icon {
    width: 25px;
    height: 25px;
}

.body {
    color: #8d99ae;
}

.body p:not(:last-child) {
    margin-bottom: 20px;
}


@media screen and (max-width: 500px) {
    .container {
        padding: 60px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        padding: 40px;
    }

    .heading {
        font-size: 40px;
    }
}
